RMQ_HOST=localhost
RMQ_USER=admin
RMQ_PASS=adminpassword
EXCHANGE_NAME=scheduler
LOG_FILE=logs/rabbitmq_messages.log

LOGGER_QUEUE=system_logs_queue
HEARTBEAT_QUEUE=heartbeat_queue
TASK_QUEUE=task_queue
TASK_RESULT_QUEUE=task_result_queue
WORKER_REGISTRY_QUEUE=worker_registry_qeueu

HEARTBEAT_INTERVAL=30

FAILURE_CHANCE=10

SCHEDULER_PORT=50051
WORKER_TIMEOUT=120
HEARTBEAT_CHECK_INTERVAL=60
